# AI
.omc
.sisyphus

.env
node_modules
dist

# pnpm
.pnpm-store/
pm-debug.log*
.pnpm-debug.log*

# nx
.nx

# bruno
bruno

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/


vitest.config.*.timestamp*