@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@theme {
  --color-primary: #c084fc;
  --color-secondary: #60a5fa;

  --color-background-primary: #e3fdfd;
  --color-background-secondary: #f0f4fa;
  --color-background-tertiary: #fdf2ea;

  --text-h1: 2rem;
  --text-subtitle: 1.5rem;
  --text-body: 1rem;
  --text-bodySmall: 0.875rem;
  --text-caption: 0.75rem;
}
